<form #newCoffeeForm="ngForm" (ngSubmit)="submitButtonClicked(coffee)">
    <div style="padding-bottom: 10px;">
        <label style="padding-right: 5px;">Brand</label>
        <input name="Brand" #brand="ngModel" required [(ngModel)]="coffee.brand" placeholder="Input the coffee brand" type="text" size="70px"/>    
    </div>
    <div style="padding-bottom: 10px;">
        <div>
            <label style="padding-right: 5px;">Coffee Type : </label>
            <label>Ground</label>
            <input name="Ground or Beans" required placeholder="Ground or Beans" value="ground"
            [(ngModel)]="coffee.groundOrBeans" type ="radio" title="Ground">
            <label style="padding-left: 5px;" >Beans</label>
            <input name="Ground or Beans" required placeholder="Ground or Beans" value="beans" 
            [(ngModel)]="coffee.groundOrBeans" type ="radio">
        </div>
    </div>
    <div style="padding-bottom: 10px;">
        <label style="padding-right: 5px;">Roast Type</label>
        <select id="roastType" name="roastType" type="select" [(ngModel)]="coffee.roast" required>
            <option *ngFor="let type of roastOptions" [value]="type">{{type}}</option>
        </select>
    </div>
    <div style="padding-bottom: 10px;">
        <label style="padding-right: 5px;">Single Origin</label>
        <input type="checkbox" name="chksingleOrigin" [(ngModel)] = "coffee.singleOrigin"/>
    </div>
    <div style="padding-bottom: 10px;">
        <label style="padding-right: 5px;">Flavor Notes</label>
        <textarea name="txtflavo"[(ngModel)]="coffee.flavorNotes"></textarea>
    </div>
    <div class="buttons">
        <button type="submit" [disabled]="newCoffeeForm.form.invalid" name="Submit">Submit</button>
        <button type="button" name="Reset" (click)="newCoffeeForm.resetForm()">Reset</button>
    </div>
</form>
